@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Russo+One&display=swap");

/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Russo One', sans-serif; */

:root {
  --section-rotate: 9vw;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #000;
  /* padding: 3rem; */
  min-height: 100vh;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column; */
  /* flex-direction: column; */

  /* background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff7730),
    to(#eb4d4b)
  ); */
}

/* .form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
} */

.profile-photo-cnt {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.profile-photo {
  width: 150px;
  height: 150px;
}

.upload-style {
  overflow: hidden;
}

.upload-style:focus + label {
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

.upload-style + label {
  /* color: #55c57a; */
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.upload-style + label:hover {
  /* background-color: #55c57a;
  color: #fff; */
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.photo-label {
}
